
table.LT {
width:100%;
padding: 7px;
}

table.LT th {
border: 2px solid #bbbbbb;
padding: 7px; 
background-color: #eeeeee;
text-align:center;
}

table.LT td {
border: 2px solid #bbbbbb;
background: #eeeeee none repeat scroll 0% 0%;
padding: 7px;
vertical-align: top;
text-align:left;
}
