/************************ Changes section starts *********************/

h4 {
  margin: 0px 0 8px;
}

pre {

  background: #FDFEFB;
  overflow: auto;
  overflow-y: hidden;
    text-align: left;
    text-indent: -25px;
    white-space: pre-line;
    
  padding: 25px 0 0 0;
  border-radius: 0px;
  border: 0px solid #D7D8C8;
  margin: 0px;
 
  
}


table {
  width:100%;
  border: 1px solid #bbb;
  margin-bottom: 32px;
 margin-top: 20px;
  text-align: left;
  background: #bbb; 
 }

th {
  font-family: 'Arvo', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
  padding: 10px;
  background: #232323;
  color: #FDFEFB;
  border: 2px solid #999;
 }

td {
  border: 2px solid #999;
  padding: 10px;
  background: #FDFEFB; 

 }

/************************ End Changes Section *********************/
